:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background-color: var(--preto);
    font-family: Arial;
    font-size: 16px;
    color: white;
}

header {
    position: sticky;
    top: 0%;
    width: 100%;
    z-index: 2;
    background-color: var(--preto);
}

.container {
    margin-left: 30px;
    margin-right: 30px;
    cursor: default;
}

header .container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Arial Black';
    font-size: 40px;
    color: var(--vermelho);
}

.navegacao {
    margin-left: 10px;
    background: none;
    color: #FFF;
    cursor: pointer;
}

.navegacao:hover {
    color: #AAA;
}

.filme-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 800px;
    min-height: 500px;
    overflow: hidden;
}

#video {
    min-width: 100%;
}

.filme-principal .container {
    margin-top: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 96%;
    position: absolute;
}

.titulo {
    width: 50%;
}

.descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    text-shadow: black 1.5px 1.5px 2px;
}

.video-control {
    display: flex;
    flex-direction: column;
}

.botao {
    background-color: rgba(0,0,0,.50);
    color: white;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botoes-filme .botao {
    margin-right: 15px;
    padding: 15px 30px;
    border-radius: 6px;
}

.botoes-filme .botao i {
    margin-right: 8px;
}

.video-control .botao {
    margin-top: 15px;
    padding: 12px 14px;
    border-radius: 50%;
}

.carrosel-filmes {
    margin-top: 10px;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}