@media screen and (max-width:720px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .video-control {
        display: flex;
        flex-direction: row;
        margin-top: 80px;
    }

    .botoes-filme .botao {
        margin-top: 5px;
        width: 300px;
    }

    .video-control .botao {
        margin-right: 15px;
    }
}